{%- set config = salt['pillar.get']('etcd') -%}
{%- set ipaddr = salt['pillar.get']('ipaddr') -%}
{%- set bin_dir = config.bin_dir -%}
{%- set ca_dir = config.ca_dir -%}

[Unit]
Description=Etcd Server
After=network.target
After=network-online.target
Wants=network-online.target
Documentation=https://github.com/coreos

[Service]
Type=notify
WorkingDirectory=/var/lib/etcd/
ExecStart={{ bin_dir }}/etcd \
  --name={{ grains['id'] }} \
  --cert-file={{ ca_dir }}/etcd.pem \
  --key-file={{ ca_dir }}/etcd-key.pem \
  --peer-cert-file={{ ca_dir }}/etcd.pem \
  --peer-key-file={{ ca_dir }}/etcd-key.pem \
  --trusted-ca-file={{ ca_dir }}/ca.pem \
  --peer-trusted-ca-file={{ ca_dir }}/ca.pem \
  --initial-advertise-peer-urls=https://{{ ipaddr }}:2380 \
  --listen-peer-urls=https://{{ ipaddr }}:2380 \
  --listen-client-urls=https://{{ ipaddr }}:2379,http://127.0.0.1:2379 \
  --advertise-client-urls=https://{{ ipaddr }}:2379 \
  --initial-cluster-token=etcd-cluster-0 \
  --initial-cluster={{ config.cluster|join(',') }} \
  --initial-cluster-state=new \
  --data-dir=/var/lib/etcd
Restart=on-failure
RestartSec=5
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
